@layout('shared/main')

@section('contente')
<h1>{{tittle}}</h1>
<div class="alert alert-success" role="alert">
    A simple success alert—check it out!
  </div>

  <div class="list-group">
    @each(item in tasks)
        <a href="#" class="list-group-item list-group-item-action">{{item.body}}</a>
    @endeach
  </div>

  
@endsection